* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #E9CBAF;
    color: #6C3D4C;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1vh;
    text-shadow: 3px 2px 2px rgba(199, 130, 59, 0.15);
    scroll-behavior: smooth;
    -webkit-transition: all 200ms linear;
	transition: all 200ms linear; 
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

#end__of__page {
    margin-bottom: -30vh;
}

:root {
    --red: #da2c4d;
	--yellow: #f8ab37;
	--green: #2ecc71;
	--white: #ffffff;
	--grey-light: #f2f7f9;
	--grey: #ecedf3;
	--black: #080808;
	--black-blue: #1f2029;
	--black-blue-light: #353746;
	--black-blue-light-2: #404255;
	--black-blue-light-3: #4b4d64;
	--black-light: #424455;
}

.button {
    background-color: #f0bfa1;
    border: none;
    color: #F18080;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vh;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 100px;
    margin-right: 150px;
}

.pink__colored {
    color: #F18080;
}

.lightpink__colored {
    color: #b5627c;
}

.orange__highlight {
    background-color: #F9A875;
    border-radius: 20px;
    line-height: 1.5;
    padding-right: 0.9vw;
    padding-left: 0.9vw;
    font-weight: 520;
    text-shadow: none;
    box-shadow: 3px 2px 2px rgba(199, 130, 59, 0.15);
}

.header {
    font-size: 6vw;
    font-weight: 400;
}

.text {
    font-size: 3vw;
    font-weight: 300;
}

.littletext {
    font-size: 2vw;
    font-weight: 300;
}

.textmini {
    font-size: 1vw;
    font-weight: 200;
}

.divider__line {
    height: 4vw;
}

.column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 15vh;
    padding-right: 15vh;
}

.animated {
    transition: all 0.2s ease-in-out;
}

.animated:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.box {
    font-size: 1.5vw;
    background-color: #f0bfa1;
    border-radius: 10px;
    line-height: 1.5;
    padding-right: 0.9vw;
    padding-left: 0.9vw;
    font-weight: 400;
    text-shadow: none;
    box-shadow: 3px 2px 2px rgba(199, 130, 59, 0.15);
    line-height: 1.7;
    letter-spacing: 1px;
}

.decoration {
    text-decoration: none;
  }

.topnav {
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    text-shadow: none;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vw;
}

.topnav_color {
    background-color: #ffb98c;
    border-radius: 20px;
    line-height: 2.5;
    text-shadow: none;
    padding: 1vw;
    justify-content: center;
    align-items: center;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 0.75vw;
    padding-bottom: 0.75vw;
    line-height: 2.5;
    text-decoration: none;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

.topnav a:hover {
    background-color: #F9A875;
    border-radius: 20px;
    line-height: 2.5;
    padding-right: 3vw;
    padding-left: 3vw;
    padding-top: 0.75vw;
    padding-bottom: 0.75vw;
    text-shadow: none;
    box-shadow: 3px 2px 2px rgba(199, 130, 59, 0.15);
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: #f0bfa1;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    background: #F18080;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b5627c;
}

.progress-wrap {
	position: fixed;
	right: 50px;
	bottom: 50px;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
	box-shadow: inset  0 0 0 2px rgba(255,255,255,0.2);
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.progress-wrap::after {
	position: absolute;
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	color: var(--grey);
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 1;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap:hover::after {
	opacity: 0;
}

.progress-wrap::before {
	position: absolute;
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	opacity: 0;
	background-image: linear-gradient(298deg, var(--red), var(--yellow));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 2;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap:hover::before {
	opacity: 1;
}

.progress-wrap svg path { 
	fill: none; 
}

.progress-wrap svg.progress-circle path {
	stroke: var(--grey);
	stroke-width: 4;
	box-sizing:border-box;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

body.light .progress-wrap {
	box-shadow: inset  0 0 0 2px rgba(0,0,0,0.2);
}

body.light .progress-wrap::after {
	color: var(--black-blue);
}

body.light .progress-wrap svg.progress-circle path {
	stroke: var(--black-blue);
}

.switch,
.circle {
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}

.switch {
	width: 80px;
	height: 4px;
	border-radius: 27px;
	background-image: linear-gradient(298deg, var(--red), var(--yellow));
	position: fixed;
	right: 50px;
	top: 75px;
	display: block;
	margin: 0 auto;
	text-align: center;
	opacity: 1;
  z-index: 33333;
  transition: all 300ms linear;
}

.circle {
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -5px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: var(--black-blue-light-3);
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
	animation: border-transform 10s linear infinite alternate forwards;
}

.circle:hover {
	box-shadow: 0 8px 8px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}

.circle:before {
	position: absolute;
	font-family: 'unicons';
	content: '\eac1';
	top: 0;
	left: 0;
	z-index: 2;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	width: 100%;
	height: 40px;
	opacity: 1;
	color: var(--grey);
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}

.circle:after {
	position: absolute;
	font-family: 'unicons';
	content: '\eb8f';
	top: 0;
	left: 0;
	z-index: 2;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	width: 100%;
	height: 40px;
	color: var(--yellow);
	opacity: 0;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}

.switched .circle {
	left: 45px;
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
	background: var(--black-blue);
}

.switched .circle:hover {
	box-shadow: 0 8px 8px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}

.switched .circle:before {
	opacity: 0;
}

.switched .circle:after {
	opacity: 1;
}

body .footer {
  z-index: 1;
  --footer-background:#E9CBAF;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
}
body .footer .content {
  z-index: 2;
  display: grid;
  grid-template-columns: .7fr .2fr auto;
  grid-gap: 4rem;
  padding: 2rem;
  background: var(--footer-background);
}
body .footer .content a, body .footer .content p {
  color: #F5F7FA;
  text-decoration: none;
}
body .footer .content b {
  color: white;
}
body .footer .content p {
  margin: 0;
  font-size: 1vw;
}
body .footer .content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .footer .content > div > div {
  margin: 0.5rem 0;
  font-size: 1vw;
}
body .footer .content > div > div > * {
  margin-right: 0.5rem;
}
body .footer .content > div .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
}