* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--dark-blue);
    color: var(--light-blue);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1vh;
    text-shadow: none;
    scroll-behavior: smooth;
    -webkit-transition: all 200ms linear;
	transition: all 200ms linear; 
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

#end__of__page {
    margin-bottom: -30vh;
}

:root {
    --light-blue: #7A92B5; 
    --light-dark-blue: #4F5E75; 
    --medium-blue: #242B36;
    --dark-light-blue: #222933; 
    --dark-blue: #1C2129; 
	--white: #ffffff;
}

.button {
    background-color: var(--dark-light-blue);
    border: none;
    color: var(--light-dark-blue);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vh;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 100px;
    margin-right: 150px;
}

.dark_colored {
    color: var(--dark-light-blue);
}

.light_colored {
    color: var(--light-dark-blue);
}

.medium_colored {
    color: var(--medium-blue);
}

.dark_highlight {
    background-color: var(--dark-light-blue);
    border-radius: 20px;
    line-height: 1.5;
    padding-right: 0.9vw;
    padding-left: 0.9vw;
    font-weight: 520;
    text-shadow: none;
    box-shadow: 3px 2px 2px var(--dark-blue);
}

.header {
    font-size: 6vw;
    font-weight: 400;
}

.text {
    font-size: 3vw;
    font-weight: 300;
}

.littletext {
    font-size: 2vw;
    font-weight: 300;
}

.textmini {
    font-size: 1vw;
    font-weight: 200;
}

.hr {
    width: 100%;
    height: 1px;
    display: block;
    position: relative;
    margin-bottom: 0em;
    padding: 2em 0;
}

.hr:after, .hr:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 50%;
    left: 0;
}

.hr:before {
    background: linear-gradient(90deg, #10111F 0%, #10111F 50%, transparent 50%, transparent 100%);
    background-size: 15px;
    background-position: center;
    z-index: 1;
}

.hr:after {
    transition: opacity 0.3s ease, -webkit-animation 0.3s ease;
    transition: opacity 0.3s ease, animation 0.3s ease;
    transition: opacity 0.3s ease, animation 0.3s ease, -webkit-animation 0.3s ease;
    background: linear-gradient(to right, #62efab 5%, #F2EA7D 15%, #F2EA7D 25%, #FF8797 35%, #FF8797 45%, #e1a4f4 55%, #e1a4f4 65%, #82fff4 75%, #82fff4 85%, #62efab 95%);
    background-size: 200%;
    background-position: 0%;
    -webkit-animation: bar 15s linear infinite;
            animation: bar 15s linear infinite;
}

@-webkit-keyframes bar {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 200%;
    }
}

@keyframes bar {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 200%;
    }
  }
  
.hr.anim:before {
    background: linear-gradient(90deg, #10111F 0%, #10111F 5%, transparent 5%, transparent 10%, #10111F 10%, #10111F 15%, transparent 15%, transparent 20%, #10111F 20%, #10111F 25%, transparent 25%, transparent 30%, #10111F 30%, #10111F 35%, transparent 35%, transparent 40%, #10111F 40%, #10111F 45%, transparent 45%, transparent 50%, #10111F 50%, #10111F 55%, transparent 55%, transparent 60%, #10111F 60%, #10111F 65%, transparent 65%, transparent 70%, #10111F 70%, #10111F 75%, transparent 75%, transparent 80%, #10111F 80%, #10111F 85%, transparent 85%, transparent 90%, #10111F 90%, #10111F 95%, transparent 95%, transparent 100%);
    background-size: 150px;
    background-position: center;
    z-index: 1;
    -webkit-animation: bar 120s linear infinite;
            animation: bar 120s linear infinite;
}

.hr.anim:hover:before {
    -webkit-animation-duration: 20s;
            animation-duration: 20s;
}

.hr.anim:hover:after {
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
}

.rainbow {
    background: linear-gradient(to right, #62efab 5%, #F2EA7D 15%, #F2EA7D 25%, #FF8797 35%, #FF8797 45%, #e1a4f4 55%, #e1a4f4 65%, #82fff4 75%, #82fff4 85%, #62efab 95%);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: bar 15s linear infinite;
            animation: bar 15s linear infinite;
}

.column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 15vh;
    padding-right: 15vh;
}

.animated {
    transition: all 0.2s ease-in-out;
}

.animated:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.box {
    font-size: 1.5vw;
    background-color: var(--medium-blue);
    border-radius: 10px;
    line-height: 1.5;
    padding-right: 0.9vw;
    padding-left: 0.9vw;
    font-weight: 400;
    text-shadow: none;
    box-shadow: 3px 2px 2px var(--dark-light-blue);
    line-height: 1.7;
    letter-spacing: 1px;
}

.decoration {
    text-decoration: none;
}

.topnav {
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
    text-shadow: none;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vw;
}

.topnav_color {
    background-color: var(--dark-light-blue);
    border-radius: 20px;
    line-height: 2.5;
    text-shadow: none;
    padding: 1vw;
    justify-content: center;
    align-items: center;
}

.topnav a {
    float: left;
    color: var(--light-blue);
    text-align: center;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 0.75vw;
    padding-bottom: 0.75vw;
    line-height: 2.5;
    text-decoration: none;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

.topnav a:hover {
    background-color: var(--light-dark-blue);
    border-radius: 20px;
    line-height: 2.5;
    padding-right: 3vw;
    padding-left: 3vw;
    padding-top: 0.75vw;
    padding-bottom: 0.75vw;
    text-shadow: none;
    box-shadow: 3px 2px 2px var(--medium-blue);
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 10px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: var(--light-dark-blue);
    border-radius: 7px;
}

::-webkit-scrollbar-thumb {
    background: var(--medium-blue);
    border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--dark-blue);
}

.progress-wrap {
	position: fixed;
	right: 50px;
	bottom: 50px;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
	box-shadow: inset  0 0 0 2px var(--medium-blue);
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.progress-wrap::after {
	position: absolute;
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	color: var(--light-blue);
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 1;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap:hover::after {
	opacity: 0.2;
}

.progress-wrap::before {
	position: absolute;
	font-family: 'unicons';
	content: '\e84b';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	opacity: 0;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 2;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.progress-wrap svg path { 
	fill: none; 
}

.progress-wrap svg.progress-circle path {
	stroke: var(--light-blue);
	stroke-width: 4;
	box-sizing:border-box;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.footer {
    z-index: 1;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
}

.footer .content{
    z-index: 2;
    display: grid;
    grid-template-columns: .7fr .2fr auto;
    grid-gap: 4rem;
    padding: 2rem;
    color: var(--light-blue);
}

.footer .content a{
    color: var(--light-blue);
    text-decoration: none;
}

.footer .content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer .content > div > div {
    margin: 0.5rem 0;
    font-size: 1vw;
}

.footer .content > div > div > * {
    margin-right: 0.5rem;
}